<div class="card">
	<container>

		{{id}}. {{name}}

		<button class="btn btn-sm btn-primary change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}DEVOUR!{{else}}THROW UP!{{/if}}
		</button>

		<button class="btn btn-sm btn-primary delete-sundae" data-id="{{this.id}}">DELETE!</button>

	</container>
</div class="card">
<br>