<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}THROW UP!{{/if}}
	</button>

	<button class="delete-sundae" data-id="{{this.id}}">DELETE!</button>
</li>


